.custom-navbar-style {
    background-color: #FF93F4;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 16px;
    height: 40px;
    overflow: hidden;
}

.custom-nav-sections {
    display: flex;
}

.section-container {
    margin-left: 20px;
    /* Espacio entre las secciones */
}

/* Estilo para el botón de la hamburguesa */
.navbar-toggler {
    background-color: #FF93F4;
    /* Color de fondo del botón */
    border-color: transparent;
}

.responsive-navbar-nav {
    border: none;
}

/* Estilo para el contenedor del menú desplegable */
.navbar-collapse {
    background-color: #FF93F4;
    /* Color de fondo del menú desplegable */
    padding: 10px;
    /* Espaciado interno del menú desplegable */
    border: none !important;
    /* Eliminar cualquier borde con !important */
}