.feature-items-container {
    display: flex;
    gap: 40px;/* Ajusta el espacio entre los items */
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.item-container {
    width: 200px;
    height: 220px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: -2px 4px 6px rgba(0, 0, 0, 0.1), 2px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* Centra el texto dentro del contenedor */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cohete-image {
    margin-top: 20px;
    width: 50px;
    height: auto;
    z-index: 1; 
}

.item-title {
    font-size: 20px;
    color: #FF93F4;
    font-weight: 700; /* Equivalente a bold */
    letter-spacing: 1px;
    margin-bottom: 5px; /* Ajusta el espacio inferior del título */
}

.item-text {
    font-size: 10px; /* Ajusta el tamaño de fuente del texto */
    letter-spacing: 0.5px;
}