.navbar-style {
    background-color: #FF93F4;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 16px;
}

.nav-sections {
    display: flex;
}

.section-container {
    margin-left: 20px; /* Espacio entre las secciones */
}